<p hidden>{{codprod}} </p>  
<div class="container">
    <div class="p-grid p-nogutter">   
      <p-table class="p-shadow-2" styleClass="p-datatable-gridlines" [value]="produtoEstoque" [autoLayout]="true">
        <ng-template pTemplate="caption">
            Dados do Produto:
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Filial</th> 
                <th>Cod. Fabrica</th>               
                <th>Cod. Fornecedor</th> 
                <th>Fornecedor</th> 
                <th>Marca</th> 
                <th>Data Cadatro</th> 
                <th>Data Exclusão</th> 
                <th>Data Ult. Entrada</th> 
                <th>Data Ult. Venda</th>  
                <th>Qt</th> 
                <th>Extrato</th>                               
            </tr>            
        </ng-template>
        <ng-template pTemplate="body" let-produtoEstoque>            
            <tr style="width: 10rem" class="p-text-justify">
                <td>{{produtoEstoque.codfilial }}</td>
                <td>{{produtoEstoque.codfab}}</td>
                <td>{{produtoEstoque.codfornec }}</td>
                <td>{{produtoEstoque.fornecedor }}</td>
                <td>{{produtoEstoque.marca }}</td>                              
                <td>{{produtoEstoque.dtcadastro | date:'dd/MM/y' }}</td>
                <td>{{produtoEstoque.dtexclusao | date:'dd/MM/y'}}</td>
                <td>{{produtoEstoque.dtultent | date:'dd/MM/y'}}</td>
                <td>{{produtoEstoque.dtultfat | date:'dd/MM/y'}}</td> 
                <td>{{produtoEstoque.qtestger }}</td>                 
                <td><button type="button" (click)="showDialog(produtoEstoque)" pButton icon="pi pi-external-link" label="View"></button></td>                       
            </tr>
                
        </ng-template>                
    </p-table>

    <p-dialog *ngIf="produtoEstoqueSelecionado" 
        header="Extrato do Produto" 
        (onHide)="limparEstoqueSelecionado()" 
        [(visible)]="dialogVisible" 
        [style]="{width: '75vw'}" 
        [baseZIndex]="10000" 
        [maximizable]="true" 
        [modal]="true" 
        [resizable]="true" 
        [contentStyle]="{height: '300px'}">
        <app-estoque-extrato [codprod]="produtoEstoqueSelecionado.codprod" [codfilial]="produtoEstoqueSelecionado.codfilial" ></app-estoque-extrato>     
    </p-dialog>   
    </div>
</div>