<p hidden>{{codprod}} </p> 
<p hidden>{{codfilial}} </p> 
<div class="card">
    <p-table [value]="extratoProduto" 
            [paginator]="true" 
            [rows]="20" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [rowsPerPageOptions]="[10,25,50]" 
            [responsive]="true" 
            [autoLayout]="true"
            styleClass="p-datatable-striped"
            sortField="extratoProduto.rownum"
            [sortOrder]="-1">
      <ng-template pTemplate="header">
          <tr>
              <th>Dtmov</th> 
              <th>Hora</th> 
              <th>Cod. Oper.</th> 
              <th>Operação</th> 
              <th>Historico</th>            
              <th>Num. Trans. Ent.</th> 
              <th>Num. Trans. Venda</th> 
              <th>Cod. Usuario</th>
              <th>Cod. Cliente</th>
              <th>Cliente</th>
              <th>C.G.C.</th>
              <th>Num. Nota</th>
              <th>Num. Seq.</th>
              <th>P. Unit</th>
              <th>Qt. Entrada</th>
              <th>Qt. Saida</th>              
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-extratoProduto class="p-text-justify">
          <tr>
              <td>{{extratoProduto.dtmov | date:'dd/MM/y' }}</td>
              <td>{{extratoProduto.hora }}</td>
              <td>{{extratoProduto.codoper }}</td>
              <td>{{extratoProduto.nomecodoper }}</td>
              <td>{{extratoProduto.historico }}</td>        
              <td>{{extratoProduto.numtransent }}</td>
              <td>{{extratoProduto.numtransvenda }}</td>
              <td>{{extratoProduto.codusur }}</td>
              <td>{{extratoProduto.codcli }}</td>
              <td>{{extratoProduto.cliente }}</td>
              <td>{{extratoProduto.cgc }}</td>
              <td>{{extratoProduto.numnota }}</td>
              <td>{{extratoProduto.numseq }}</td>
              <td>{{extratoProduto.punit | currency:'BRL':true:'1.2-2' }}</td>
              <td>{{extratoProduto.qtentrada }}</td>
              <td>{{extratoProduto.qtsaida }}</td>
          </tr>
      </ng-template>
  </p-table>

  </div>
