<div class="container" *ngIf="pedido">
    <form [formGroup]="pedido" autocomplete="off" (ngSubmit)="salvar()">

        <div class="ui-g-12">
            <h1> Dados do Pedido </h1>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-4">
              <label>numped</label>
              <input pInputText   formControlName="numped" >
            </div>

            <div class="p-field p-col-4">
              <label>nome</label>
              <input pInputText   formControlName="nome">
            </div>

            <div class="p-field p-col-4">
              <label>cliente</label>
              <input pInputText   formControlName="cliente">
            </div>

            <div class="p-field p-col-4">
              <label>datapedido</label>
              <p-calendar formControlName="datapedido" showTime="true" hourFormat="24"></p-calendar>
            </div>

            <div class="p-field p-col-4">
              <label>dataemissaomapa</label>
              <p-calendar formControlName="dataemissaomapa" showTime="true" hourFormat="24"></p-calendar>
            </div>

            <div class="p-field p-col-4">
              <label>datainiciosep</label>
              <p-calendar formControlName="datainiciosep" showTime="true" hourFormat="24"></p-calendar>
            </div>

            <div class="p-field p-col-4">
              <label>datafimsep</label>
              <p-calendar formControlName="datafimsep" showTime="true" hourFormat="24"></p-calendar>
            </div>

            <div class="p-field p-col-4">
              <label>datachegadacli</label>
              <p-calendar formControlName="datachegadacli" showTime="true" hourFormat="24"></p-calendar>
            </div>

            <div class="p-field p-col-4">
              <label>codfuncsep</label>
              <input pInputText   formControlName="codfuncsep">
            </div>

            <div class="p-field p-col-4">
              <label>datafimbalcao</label>
              <p-calendar formControlName="datainiciosep" showTime="true" hourFormat="24"></p-calendar>
            </div>

            <div class="p-field p-col-4">
              <label>codfuncbalcao</label>
              <input pInputText   formControlName="codfuncbalcao">
            </div>

            <div class="p-field p-col-4">
              <label>dataatual</label>
              <p-calendar formControlName="dataatual" showTime="true" hourFormat="24"></p-calendar>
            </div>

            <!--<div class="p-field p-col-4">
              <label>aguardsep</label>
              <input pInputText   formControlName="aguardsep">
            </div>

            <div class="p-field p-col-4">
              <label>emseparacao</label>
              <input pInputText   formControlName="emseparacao">
            </div>

            <div class="p-field p-col-4">
              <label>emconferencia</label>
              <input pInputText   formControlName="emconferencia">
            </div>

            <div class="p-field p-col-4">
              <label>tempodecor</label>
              <input pInputText   formControlName="tempodecor">
            </div> -->

            <div class="p-field p-col-4">
              <label>posicao</label>
              <input pInputText   formControlName="posicao">
            </div>

            <div class="p-field p-col-4">
              <label>ordem</label>
              <input pInputText   formControlName="ordem">
            </div>

            <div class="p-field p-col-4">
              <label>painel</label>
              <input pInputText   formControlName="painel">
            </div>
        </div>
            <div class="p-field p-col-4">
              <button pButton type="submit" label="Salvar"></button>
            </div>
    </form>
    <button pButton type="button" icon="pi pi-check" iconPos="left" pTooltip="Chegou!" tooltipPosition="top" (click)="marcarChegada(pedido.numped)"></button>
</div>
