<p-sidebar [(visible)]="visibleSidebar1" [style]="{width:'20em'}" [transitionOptions]="'250ms'" position="right" *ngIf="!isLoginPage" >  
  <ul class="navbar-menu" >
    <li class="navbar-usuario"><img src="assets/Imagens/ajel materiaisSVG.svg"  width="145" ></li>    
    <li *appRoles="['ROLE_TI','ROLE_GERENTE','ROLE_VENDAS']" class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false" ><a routerLink="/pedidos">Pedido</a></li>
    <li *appRoles="['ROLE_TI','ROLE_GERENTE','ROLE_LOGISTICA']" class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"><a routerLink="/produto">Produto</a></li>
    <!--<li *appRoles="['ROLE_TI','ROLE_GERENTE','ROLE_LOGISTICA']"class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"><a routerLink="/estoquecabo">Cabo</a></li>-->
    <li *appRoles="['ROLE_TI','ROLE_GERENTE','ROLE_EXPEDICAO']"class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"><a routerLink="/ajelentrega">Entrega</a></li> 
    <li *appRoles="['ROLE_TI','ROLE_GERENTE','ROLE_EXPEDICAO','ROLE_FISCAL','ROLE_VENDAS']"class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"><a routerLink="/canhoto">Canhoto</a></li>
    <li *appRoles="['ROLE_TI','ROLE_GERENTE','ROLE_EXPEDICAO','ROLE_FISCAL']"class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"><a routerLink="/buscar-bonus-entrada">Bônus</a></li>
    <li *appRoles="['ROLE_TI','ROLE_GERENTE','ROLE_EXPEDICAO','ROLE_FISCAL']"class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"><a routerLink="/expedicao">Expedição</a></li>
    <!--<li *appRoles="['ROLE_TI','ROLE_GERENTE']"class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"><a routerLink="/painel">Painel</a></li> -->
    <li *appRoles="['ROLE_TI','ROLE_GERENTE','ROLE_EXPEDICAO']"class="navbar-menuitem" routerLinkActive="ativo" (click)="visibleSidebar1 = false"><a routerLink="/paineldePedidos">Separação de Pedidos</a></li>
   <li class="navbar-menuitem"><a href="#" (click)="fazerLogout()">Sair</a></li>
  </ul>
</p-sidebar>
<nav class="navbar">
<div class="container" *ngIf="!isLoginPage">
   <p-button type="button" class="mr-2" (click)="visibleSidebar1 = true"  icon="pi pi-list" label="Menu"></p-button>
</div>
</nav>
