<div class="container">
    <h1>Expedição</h1>

    <div class="flex-box container-box">
    
        <br />
        
          
            <div class="content-box">
                <p-button label="Separação" (click)="showDialogSeparacao()" (click)="notaOuPedido = false"
                    styleClass="p-button-lg p-button-info"></p-button>
                <p-button label="Conferência" (click)="showDialogConferencia()" (click)="notaOuPedido = false"
                    styleClass="p-button-lg p-button-warning"></p-button>
                <p-button label="Transporte" (click)="showDialogTransporte()" (click)="notaOuPedido = true"
                    styleClass="p-button-lg p-button-success"></p-button>
            </div>
          
            
            <p-dialog header="" [(visible)]="visibleSeparacao" [style]="{ width: '50vw' }">
                <app-estoque-separacao></app-estoque-separacao>            
            </p-dialog>

            <p-dialog header="" [(visible)]="visibleConferencia" [style]="{ width: '50vw' }">
                <app-estoque-conferencia></app-estoque-conferencia>       
            </p-dialog>

            <p-dialog header="" [(visible)]="visibleTransporte" [style]="{ width: '50vw' }">
                <app-estoque-transporte> </app-estoque-transporte>       
            </p-dialog>
        
    
    </div>

</div>
