<div class="container">
    <h1>Expedição</h1>

    <div class="flex-box container-box">
    
        <br />
        
          
            <div class="content-box">
                <p-button (click)="showDialogSeparacao()" (click)="notaOuPedido = false"
                    styleClass="p-button-lg p-button-info">
                    <h2>Separação</h2></p-button>
                <p-button (click)="showDialogConferencia()" (click)="notaOuPedido = false"
                    styleClass="p-button-lg p-button-warning">
                    <h2>Conferência</h2></p-button>
              <!--  <p-button label="Transporte" (click)="showDialogTransporte()" (click)="notaOuPedido = true"
                    styleClass="p-button-lg p-button-success"></p-button>-->
            </div>
          
            
            <p-dialog header="Separação" [(visible)]="visibleSeparacao" [style]="{ width: '50vw'}"  styleClass="separacaoCSS">
                <app-estoque-separacao pAutoFocus [autofocus]="true" ></app-estoque-separacao>            
            </p-dialog>

            <p-dialog header="Conferência" [(visible)]="visibleConferencia" [style]="{ width: '50vw' }" styleClass="conferenciaCSS">
                <app-estoque-conferencia></app-estoque-conferencia>       
            </p-dialog>

            <p-dialog header="Transporte" [(visible)]="visibleTransporte" [style]="{ width: '70vw' }">
                <app-estoque-transporte (callModalTransporte)="onCallParent()"> </app-estoque-transporte>       
            </p-dialog>
        
    
    </div>

</div>
