.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-box {
    background-color: white;
    height: 600px;
  }
  
  .content-box {     
    color: white;
    text-align: center;
    width: 690px;
    font: 50px !important;
  }
  p-button{
    
    margin: 0 65px;
}

p-dialog .ui-dialog {
  overflow: scroll;
  max-height: 70%;
}
