<div class="container">
    <div class="p-col">      
        <h1>Busca Produtos</h1>
      <form [formGroup]="buscaProduto" autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="p-grid">  
          <div class="p-col-2">   
            <label style="display: block">Codigo do Produto</label>     
            <input pInputText formControlName="codprod" >
          <!-- <div *ngIf="f.codprod.errors" class="invalid-feedback">
              <sup>*</sup>Somente números. 
            </div>-->
          </div>       
          <div class="p-col-2">   
            <label style="display: block">Descrição</label>     
            <input pInputText formControlName="descricao" >
          <!-- <div *ngIf="f.codprod.errors" class="invalid-feedback">
              <sup>*</sup>Somente números. 
            </div>-->
          </div>   
          <div class="p-col-2">
            <label style="display: block;">Marca</label>
            <app-marca-selector (marcaSelecionada)="onMarcaSelecionada($event)"></app-marca-selector>
          </div>       
        </div>
        <div class="p-col-4">
          <button pButton type="submit" label="Pesquisar" ></button>
        </div> 
      </form>     
    </div>    
<div class="card">
  <div class="p-grid p-fluid">
    <p-table styleClass="p-datatable-sm" dataKey="codprod" [value]="produtos" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} de {last} of {totalRecords} produtos" [rowsPerPageOptions]="[10,25,50]" [responsive]="true">
      <ng-template pTemplate="header" >
          <tr >
              <th></th>
              <th >Codprod</th>
              <th class="p-fluid p-col-4">Descrição</th>                
              <th>Rua</th>
              <th>Modulo</th>
              <th>Apto</th>
              <th>Numero</th> 
              <th>Dt Exclusão</th> 
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produtos let-expanded="expanded" >
          <tr [ngStyle]="{color: !produtos.dtexclusao ? 'blue' : 'red'}">
            <td>
              <button type="button" pButton pRipple [pRowToggler]="produtos" class="p-button-text p-button-rounded p-button-plain" 
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
              <td >{{produtos.codprod }}</td>
              <td class="p-fluid p-col-4">{{produtos.descricao }}</td>  
              <td>{{produtos.rua }}</td>                
              <td>{{produtos.modulo}}</td> 
              <td>{{produtos.apto }}</td>
              <td>{{produtos.numero }}</td>
              <td>{{produtos.dtexclusao | date:'dd/MM/y'}}</td>                    
          </tr>
      </ng-template>
          <ng-template pTemplate="rowexpansion" let-produtos>
              <app-estoque-detalhe [codprod]="produtos.codprod"></app-estoque-detalhe>
          </ng-template>
  </p-table>
  </div>
</div>
</div>

