<div class="p-megamenu-grid">
        <p-table [value]="pedidos" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" [responsive]="true">
          <ng-template pTemplate="header">
              <tr>
                  <th>Numped</th>                
                  <th>Cliente</th>
                  <th>Posição</th>
                  <th>Vendedor</th>
                  <th>Tempo</th>
                  
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pedidos>
              <tr>
                  <td>{{pedidos.numped }}</td>
                  <td>{{pedidos.cliente }}</td>                
                  <td [ngStyle]="{color: pedidos.posicao === 'F' ? 'blue' : 'red'}">{{pedidos.posicao }}</td>
                  <td>{{pedidos.nome }}</td> 
                  <td>{{pedidos.tempodecor }}</td>
                  <!--<td>{{pedidos.datapedido | date:'dd/MM/y HH:mm:ss'}}</td> -->
                  
              </tr>
          </ng-template>
      </p-table>
  
      </div>