<div class="container" *ngIf="estoqueCaboCadastro">
  <form [formGroup]="estoqueCaboCadastro" autocomplete="off" (ngSubmit)="salvar()">

    <div class="p-field">
      <h1> Dados do Pedido </h1>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-2">
        <label>Cod. Produto</label>
        <input pInputText formControlName="codprod_pcprodut">

        <label>Qt</label>
        <input pInputText formControlName="qt">
      </div>
      <div class="p-field p-col-2">
        <label>Qt Gerencial</label>
        <input pInputText formControlName="qtgerencial">
      </div>
      <div class="p-field p-col-2">
        <label>Tipo Endereço</label>
        <input pInputText formControlName="tipoendereco">
      </div>
      <div class="p-field p-col-2">
        <label>Status</label>
        <input pInputText formControlName="status">
      </div>
      <div class="p-field p-col-2">
        <label>Observações</label>
        <input pInputText formControlName="obs">
      </div>
      <p-divider></p-divider>
      <div class="p-col-8">
        <div class="p-field p-col-2">
          <label>Rua</label>
          <p-inputNumber formControlName="rua" mode="decimal" [showButtons]="true" buttonLayout="horizontal"
            spinnerMode="horizontal" pTooltip="Rua" tooltipPosition="left" decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </div>

        <div class="p-field p-col-2">
          <label>Modulo</label>
          <p-inputNumber formControlName="modulo" mode="decimal" [showButtons]="true" buttonLayout="horizontal"
            spinnerMode="horizontal" pTooltip="Modulo" tooltipPosition="left" decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </div>

        <div class="p-field p-col-2">
          <label>Apto</label>
          <p-inputNumber formControlName="apto" mode="decimal" [showButtons]="true" buttonLayout="horizontal"
            spinnerMode="horizontal" pTooltip="Apto" tooltipPosition="left" decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </div>
        <div class="p-field p-col-2">
          <label>Numero</label>
          <p-inputNumber formControlName="numero" mode="decimal" [showButtons]="true" buttonLayout="horizontal"
            spinnerMode="horizontal" pTooltip="Numero" tooltipPosition="left" decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"></p-inputNumber>
        </div>
      </div>
      <!--  <div class="p-field p-col-4">
                <label>Data Entrada</label>
                <p-calendar formControlName="dtultmovent" showTime="true" hourFormat="24"></p-calendar>
              </div> -->




      <!--  <div class="p-field p-col-4">
              <label>Cod. Produto Estoque</label>
              <input pInputText   formControlName="codprod_pcest" >
            </div>
            <div class="p-field p-col-4">
              <label>Cod. Filial</label>
              <input pInputText   formControlName="codfilial_pcest" >
            </div>-->

      <!--  <div class="p-field p-col-4">
              <label>Cod. Func. Inclusão</label>
              <input pInputText   formControlName="matricula">
            </div>           
            <div class="p-field p-col-4">
              <label>Fabricante</label>
              <input pInputText   formControlName="codfornec">
            </div>
                <div class="p-field p-col-4">
              <label>Cod Marca</label>
              <input pInputText   formControlName="codmarca">
            </div>
          -->



    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-2">
        <button pButton type="submit" label="Salvar"></button>
      </div>
      <div class="p-field p-col-2">
        <button pButton type="button" label="Voltar" (click)="voltar()"></button>
      </div>
    </div>
  </form>
</div>