<div class="container">
  <h1>Controle de Cabos</h1>        
    <form [formGroup]="buscaCabo" autocomplete="off" (ngSubmit)="pesquisar()">
      <div>
        <label style="display: block">Codigo do Produto</label>
        <input pInputText formControlName="codprod_pcprodut">
        <!-- <div *ngIf="f.codprod.errors" class="invalid-feedback">
          <sup>*</sup>Somente números. 
        </div>-->
      </div> 
      <br>     
      <div>
        <button pButton type="submit" label="Pesquisar"></button>
        <button type="button" pButton label="Novo" pTooltip="Incluir novo cabo na lista." tooltipPosition="left"
          routerLink="/estoquecabo/novo"></button>
        <button type="button" pButton label="Buscar Pedido" pTooltip="Busca os cabos do pedido." tooltipPosition="left" (click)="showDialogNumped()"></button>
              <p-dialog
                  [(visible)]="dialogVisibleNumped"
                  [modal]="true" 
                  [resizable]="true"  > 
                  <div class="p-field col-6">
                    <label>Rua</label>
                    <p-inputNumber formControlName="qt" mode="decimal" [showButtons]="true"  buttonLayout="horizontal"
                      spinnerMode="horizontal" pTooltip="Rua" tooltipPosition="left" decrementButtonClass="p-button-secondary"
                      incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                      decrementButtonIcon="pi pi-minus">
                    </p-inputNumber>
                  </div>          
          <ng-template pTemplate="footer">
              <button pButton type="button" icon="pi pi-times" (click)="dialogVisibleNumped=false" label="Cancelar" class="p-button-danger"></button>        
              <button pButton type="button" icon="pi pi-check" (click)="dialogVisibleNumped=false" (click)="baixaQt()" label="Baixar" ></button>
          </ng-template>
        </p-dialog>
      </div>
    </form>    
  </div> 
 <br> 
<div class="container">
    <p-table [value]="estoqueCabo" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} de {last} of {totalRecords} Estoque de Cabos"
      [rowsPerPageOptions]="[10,25,50]" [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Codprod</th>
          <th>Descrição</th>
          <th>Qt</th>
          <th>Rua</th>
          <th>Modulo</th>
          <th>Apto</th>
          <th>Numero</th>
          <th>Status</th>
          <th>Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-estoqueCabo>
        <tr>
          <td>{{estoqueCabo.codprod_pcprodut }}</td>
          <td>{{estoqueCabo.produto.descricao}}</td>
          <td>{{estoqueCabo.qt}}</td>
          <td>{{estoqueCabo.rua}}</td>
          <td>{{estoqueCabo.modulo}}</td>
          <td>{{estoqueCabo.apto}}</td>
          <td>{{estoqueCabo.numero}}</td>
          <td>{{estoqueCabo.status}}</td>
          <td><button pButton 
              type="button" 
              icon="pi pi-search"
              class="p-button-rounded" 
              pTooltip="Informações sobre o Pedido."
              tooltipPosition="top" 
              routerLink="/estoquecabo/{{estoqueCabo.codcabo}}"></button>
            <button pButton 
              type="button" 
              icon="pi pi-trash" 
              iconPos="left" 
              class="p-button-rounded"
              pTooltip="Excluir" 
              tooltipPosition="top"
              (click)="excluir(estoqueCabo)"></button>           
          
            <button pButton 
              type="button" 
              icon="pi pi-download" 
              iconPos="left" 
              class="p-button-rounded"
              pTooltip="Baixar" 
              tooltipPosition="top"
              (click)="showDialogbaixarQt(estoqueCabo)"></button>             
           </td>
        </tr>
      </ng-template>
    </p-table>  
    <p-dialog  
            [(visible)]="dialogVisibleBaixaItem"
            [modal]="true" 
            [resizable]="true"  >
            <p>{{caboSelecionado}}</p>   
    <ng-template pTemplate="footer">
        <button pButton type="button" icon="pi pi-times" (click)="dialogVisibleBaixaItem=false" label="Cancelar" class="p-button-danger"></button>        
        <button pButton type="button" icon="pi pi-check" (click)="dialogVisibleBaixaItem=false" (click)="salvar()" label="OK" ></button>
    </ng-template>
  </p-dialog>
</div>
