
<p-toast  position="bottom-left"></p-toast>
<div class="container">
<h1>Controle de Canhotos</h1>
      <form [formGroup]="buscaNotaFiscalSaida" autocomplete="off" (ngSubmit)="pesquisar()" >
        <div class="grid">
          <div class="col-6 md:col-2 lg:col-3">
            <label style="display: block">Filial</label>
            <p-dropdown [options]="filiais" [(ngModel)]="selectedFilial" optionLabel="nome" formControlName="codfilial" placeholder="Selecione uma Filial"></p-dropdown>                                
          </div>
          <div class="col-6 md:col-2 lg:col-3">
            <label style="display: block">Num. Nota Inicial</label>
            <input pInputText formControlName="numnotaInicial" >          
          </div>         
          
          <div  class="col-6 md:col-2 lg:col-3">            
            <label style="display: block">Num. Nota Final</label>            
            <input pInputText formControlName="numnotaFinal" >            
             <div *ngIf="f.numnotaFinal.errors" class="invalid-feedback">
            <sup>* Numero precisa ser maior que o anterior. </sup>
          </div>
          </div>                      
          <div class="col-6 md:col-2 lg:col-3">
            <label style="display: block"> </label>
            <br/>            
            <button pButton type="submit" label="Pesquisar"></button>
            
          </div>
          <div>
                      
          </div>          
        </div>
      </form> 
   <div id="main-content" class="container">
        <div class="row">
          <div class="col-md-6">            
          </div>
          <div class="col-md-6">
            <form class="form-inline" name="test-form">
              <button pButton label="Sincronizar" (click)="sendName()"></button>
        <div class="row">
          <div class="col-md-12" *ngIf="showConversation">
            <p-table [value]="retornosDoServidor">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3rem">Greetings</th>              
              </tr>
              </ng-template>
              <ng-template pTemplate="body" let-canhoto >
                <tr>
                  <td><a target="_blank"
                    href={{canhoto}}>
                     {{canhoto}}
                 </a></td>                 
              </tr>
              </ng-template>
            </p-table>       
          
      </div> 
   
<div class="card">
    <h6>Selecione canhotos encontrados</h6>
    <p-table [value]="notaFiscalSaida" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">Cod. Filial</th>
          <th style="width: 4rem">Cod. Cliente</th>
          <th style="width: 34rem">Cliente</th>                
          <th >Pedido</th>
          <th >Dt. Canhoto</th>         
          <th >Observação</th>
          <th style="width: 5rem">Nota Fiscal</th>
          <th style="width: 3rem">                    
          </th>
      </tr>
      </ng-template>
      <ng-template pTemplate="body" let-notaFiscalSaida let-rowIndex="rowIndex">
        <tr  [ngClass]="{'row-accessories': notaFiscalSaida.obsnfcarreg === 'FALTOU', 'row-cancelada': !notaFiscalSaida.dtcancel == ''}">
          <td>{{notaFiscalSaida.codfilial}}</td>          
          <td>{{notaFiscalSaida.codcli.codigoCliente}}</td>
          <td>{{notaFiscalSaida.codcli.nomeCliente}}</td>                
          <td>{{notaFiscalSaida.numped}}</td>
          <td>{{notaFiscalSaida.dtcanhoto | date: 'dd/MM/yyyy'}}</td>
          <td>{{notaFiscalSaida.obsnfcarreg}}</td>
          <td >{{notaFiscalSaida.numnota}}</td>
          <td style="width: 3rem" style="text-align:center"> 
                  <p-triStateCheckbox  (click)="onRowEditSave(notaFiscalSaida)"  [(ngModel)]="notaFiscalSaida.botao" ></p-triStateCheckbox> 
          </td>
      </tr>
      </ng-template>
  </p-table>  
</div>
</div>