<div class="container">
  <div class="col">
    <h1>Controle de Entregas</h1>
    <form [formGroup]="buscaAjelEntrega" autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="grid">
        <div class="col-12 p-md-6 p-lg-3">
          <label style="display: block">Num. Nota Fiscal</label>
          <input pInputText formControlName="numnota">
        </div>
        <br />
        <div class="col-12 p-md-6 p-lg-3">
          <label style="display: block">Data Entrega</label>
          <p-calendar formControlName="dtentrega"></p-calendar>
        </div>
        <div class="col-12 p-md-6 p-lg-3">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>
        <br />
      </div>
    </form>
  </div>

  <div class="card">
    <div class="p-shadow-3">
      <p-table styleClass="p-datatable-sm" [value]="ajelEntrega" responsiveLayout="scroll" dataKey="codentrega"
        sortField="codentrega" [sortOrder]="-1">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="numNf" style="width: 4rem">Num. NF</th>
            <th pSortableColumn="vendedor" style="width: 6rem">Vendedor</th>
            <th style="width: 6rem">Dt. Entrega</th>
            <th>Entrega</th>
            <th style="width: 4rem">Cod. Cliente</th>
            <th style="width: 14rem">Cliente</th>
            <th>Conferente</th>
            <th style="width: 4rem">Qt. Volumes</th>
            <th>Obs Entregador</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ajelEntrega let-expanded="expanded">
          <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="ajelEntrega"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{ajelEntrega.numnota }}</td>
            <td>{{ajelEntrega.nomevendedor }}</td>
            <td>{{ajelEntrega.dtentrega | date:'dd/MM/y hh:mm:ss' }}</td>
            <td>{{ajelEntrega.nomemotorista }} {{ajelEntrega.fornecedor }}</td>
            <td type="text">{{ajelEntrega.codcli }}</td>
            <td>{{ajelEntrega.nomecliente }}</td>
            <td>{{ajelEntrega.nomeconf }}</td>
            <td type="text">{{ajelEntrega.numvolume }}</td>
            <td>{{ajelEntrega.obsdoentregador }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-ajelEntrega>
          <tr>
            <td colspan="10">
              <div class="p-3">
          <tr>
            <th>Cod Entrega</th>
            <th>Dt Faturamento</th>
            <th>Endereço</th>
            <th style="width: 4rem">Valor</th>
            <th style="width: 14rem">Entregador</th>
            <th>Conferente</th>
            <th>Dt. Inclusão</th>
            <th style="width: 4rem"></th>
          </tr>
          <tr>
            <td>{{ajelEntrega.codentrega }}</td>
            <td>{{ajelEntrega.dtfat | date:'dd/MM/y hh:mm:ss' }}</td>
            <td style="width: 14rem"> {{ajelEntrega.estcob }} - {{ajelEntrega.nomecidade }} - {{ajelEntrega.endercob }}
              {{ajelEntrega.local }}</td>
            <td>{{ajelEntrega.vlatend | currency:'BRL'}}</td>
            <td>{{ajelEntrega.codfornecfrete }} - {{ajelEntrega.fornecedor }}
              {{ajelEntrega.codmotorista }} - {{ajelEntrega.nomemotorista }}</td>
            <td>{{ajelEntrega.codfuncconf }} - {{ajelEntrega.nomeconf }}</td>
            <td>{{ajelEntrega.dtinclusao | date:'dd/MM/y hh:mm:ss' }}</td>

            <p-dialog header="Dados da Entrega" [(visible)]="displayAlteraTransporte"
              [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
              <app-ajel-entrega-altera-transporte [codentrega]="codigoEntregaAlteracao" *ngIf="displayAlteraTransporte"
                (onVisible)="alterarValorDisplayAlteraTransporte($event)">
              </app-ajel-entrega-altera-transporte>
            </p-dialog>
            <td>
              <button pButton pRipple type="button" class="p-button-info" label="Alterar"
                pTooltip="Informações sobre a entrega." tooltipPosition="top"
                (click)="showDialogAlteraTransporte(ajelEntrega.codentrega)"></button>

              <button pButton type="button" class="p-button-danger" label="Excluir" tooltipPosition="top"
                (click)="excluir(ajelEntrega.codentrega)"></button>
            </td>
          </tr>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>

  </div>
</div>


</div>