<div class="container">
    <div class="p-col">
  
      <h1>Controle de Entregas</h1>
      <form [formGroup]="buscaAjelEntrega" autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-3">
            <label style="display: block">Num. Filial</label>
            <input pInputText formControlName="codfilial" >
            <!-- <div *ngIf="f.codprod.errors" class="invalid-feedback">
            <sup>*</sup>Somente números. 
          </div>-->
          </div>
          <div class="p-col-12 p-md-6 p-lg-3">
            <label style="display: block">Num. Nota Fiscal</label>
            <input pInputText formControlName="numnota" >
            <!-- <div *ngIf="f.codprod.errors" class="invalid-feedback">
            <sup>*</sup>Somente números. 
          </div>-->
          </div>
          <div class="p-col-12 p-md-6 p-lg-3">
            <label style="display: block">Data Entrega</label>
            <p-calendar formControlName="dtentrega"></p-calendar>
            <!-- <div *ngIf="f.codprod.errors" class="invalid-feedback">
            <sup>*</sup>Somente números. 
          </div>-->
          </div>
          <!-- <div class="p-col-12 p-md-6 p-lg-3">
            <label style="display: block">Motorista</label>
  
            <div *ngIf="f.codprod.errors" class="invalid-feedback">
            <sup>*</sup>Somente números. 
          </div>
          </div>-->
          <div class="p-col-4">
            <button pButton type="submit" label="Pesquisar"></button>
          </div>
          <!--<div class="p-col-4">            
            <button type="button" class="p-button-success" pButton label="Novo" pTooltip="Incluir nova entrega." tooltipPosition="left"
            (click)="showDialog()"></button>  
              <p-dialog header="Nova Entrega" [(visible)]="display" modal="true"> 
                <label style="display: block">Num. Nota Fiscal</label>              
                <input pInputText formControlName="novonumnota" 
                                  pTooltip="Digite o numero da nota fiscal." 
                                  autofocus  
                                  onkeydown = "if (event.keyCode == 13)
                                                document.getElementById('botaoBuscar').click()">
                <button type="button" id="botaoBuscar" pButton  [routerLink]="proximaRota"  icon="pi pi-info-circle" label="Buscar"></button>

                
            </p-dialog>
            
          </div>  -->  
        </div>
      </form>
    </div>
  
    <div class="card">
      <div class="p-shadow-3">
        <p-table styleClass="p-datatable-sm" [value]="ajelEntrega" 
          responsiveLayout="scroll"
          dataKey="codentrega">
          <ng-template pTemplate="header" >
            <tr>
              <th style="width: 3rem"></th>
              <th >Num.Nota Fiscal</th>
              <th >Cod. Filial</th>
              <th >Vendedor</th>
              <th >Dt.Entrega</th>
              <th >Entrega</th>
              <th >Cod.Cliente</th>
              <th >Cliente</th>              
              <th >Conferente</th>
              <th >Qt Volumes</th>
              <th >Obs Entregador</th>   
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ajelEntrega  let-expanded="expanded">
            <tr>
              <td>
                <button type="button" pButton pRipple [pRowToggler]="ajelEntrega" 
                class="p-button-text p-button-rounded p-button-plain" 
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
              <td>{{ajelEntrega.numnota }}</td> 
              <td>{{ajelEntrega.codfilial }}</td>              
              <td>{{ajelEntrega.nomevendedor }}</td>                           
              <td>{{ajelEntrega.dtentrega | date:'dd/MM/y hh:mm:ss' }}</td> 
              <td>{{ajelEntrega.nomemotorista }} {{ajelEntrega.fornecedor }}</td>
              <td>{{ajelEntrega.codcli }}</td>
              <td>{{ajelEntrega.nomecliente }}</td>              
              <td>{{ajelEntrega.nomeconf }}</td>
              <td>{{ajelEntrega.numvolume }}</td>
              <td>{{ajelEntrega.obsdoentregador }}</td> 
            </tr>
          </ng-template>
            <ng-template pTemplate="rowexpansion" let-ajelEntrega >
             <div class="container" >
              <p-panel >             
                <tr>
                  <td>
                  <label style="display: block">Cod Entrega</label>
                    {{ajelEntrega.codentrega }} 
                  </td>
                  <td class="p-col-4">
                  <label style="display: block">Dt Faturamento</label>
                  {{ajelEntrega.dtfat | date:'dd/MM/y hh:mm:ss' }} 
                  
                  </td>
                  <td>
                    <label style="display: block">Valor</label>
                    {{ajelEntrega.vlatend | currency:'BRL'}}
                  </td>
                  
                </tr>               
                <tr> 
                  <td>
                    <label style="display: block">Endereço</label>
                    {{ajelEntrega.estcob }} - {{ajelEntrega.nomecidade }}  - {{ajelEntrega.endercob }} 
                    {{ajelEntrega.local }}  
                  </td>                 
                  
                </tr> 
                <tr>
                  <td>
                    <label style="display: block">Observações</label>
                  {{ajelEntrega.obs }} - {{ajelEntrega.obs1 }}  
                  {{ajelEntrega.obsentrega1 }} - {{ajelEntrega.obsentrega2 }}  - {{ajelEntrega.obsentrega3 }}  
                  </td>
                </tr>
                <tr>
                  <td>
                    <label style="display: block">Entregador</label>
                    {{ajelEntrega.codfornecfrete }} - {{ajelEntrega.fornecedor }} 
                    {{ajelEntrega.codmotorista }} - {{ajelEntrega.nomemotorista }}  
                  </td>
                  <td>
                    <label style="display: block">Conferente</label>
                    {{ajelEntrega.codfuncconf }} - {{ajelEntrega.nomeconf }}                    
                  </td>                  
                </tr> 
                <tr>
                  <td>
                    <label style="display: block">Dt. Inclusão</label>
                    {{ajelEntrega.dtinclusao | date:'dd/MM/y hh:mm:ss' }}                     
                  </td>
                </tr>        
                  <tr>                   
                    
                    <td> <!--<button pButton pRipple type="button" class="p-button-info" label="Alterar"
                        pTooltip="Informações sobre a entrega." tooltipPosition="top"
                        routerLink="/ajelEntrega/{{ajelEntrega.codentrega}}"></button>
                  -->
                      <button pButton type="button" class="p-button-danger" label="Excluir" tooltipPosition="top"
                        (click)="excluir(ajelEntrega.codentrega)"></button>
                    </td>
                  
                  </tr>                
                </p-panel>
              </div>
                </ng-template>
                
        </p-table>
      </div>
    </div>
    
  
  </div>